modelscope
pillow
numpy
torch
torchvision
peft
opencv-python
transformers
accelerate
einops
huggingface_hub
pytorch_lightning
subword_nmt #translator essensial
#gradio==3.50.0 #use gradio web for generating mask image