#MiaoBi
peft

#AnyText
pillow
numpy<=1.26.4
torch
torchvision
opencv-python
transformers
accelerate
einops
huggingface_hub
pytorch_lightning
ujson
tensorflow #nlp_translator essensial
subword_nmt #nlp_translator essensial
modelscope #nlp_translator essensial

#Audio
##stable-audio-open
torchaudio
einops-exts
soundfile
aeiou
alias-free-torch
ema-pytorch
encodec
x-transformers
descript-audiotools
descript-audio-codec
k-diffusion
setuptools==69.5.0

##ChatTTS
omegaconf
tqdm
vector_quantize_pytorch
vocos
IPython

##facebook--musicgen---audiocraft
#windows ffmpeg env
av
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
num2words
sentencepiece
spacy>=3.6.1
xformers
demucs
librosa
gradio
torchmetrics
protobuf
torchtext

#file changed
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\metrics\fad.py--14-15
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\builders.py--14-63-64-203-204
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\unet.py--17
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\loaders.py --138-65
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\encodec.py --115

#OpenVoiceV2
faster-whisper
pydub
wavmark
eng_to_ipa
inflect
unidecode
whisper-timestamped
openai
python-dotenv
pypinyin
cn2an
jieba
langid

#DataProcess
# for open pdf file and get audio from video
fitz
PyMuPDF
pysubs2
moviepy
# whisperx
pyannote-audio

#XTTS
# core deps
cython>=0.29.30
scipy>=1.11.2
scikit-learn>=1.3.0
numba>=0.57.0
anyascii>=0.3.0
pyyaml>=6.0
fsspec
aiohttp>=3.8.1
packaging>=23.1
mutagen
# deps for examples
flask>=2.0.1
# deps for inference
pysbd>=0.3.4
# deps for notebooks
umap-learn>=0.5.1
pandas
# deps for training
matplotlib>=3.7.0
# coqui stack
trainer>=0.0.36
# config management
coqpit>=0.0.16
# korean
hangul_romanize
# gruut+supported langs
gruut[de,es,fr]
# deps for korean
jamo
nltk
g2pkk>=0.1.1
# deps for bangla
bangla
bnnumerizer
bnunicodenormalizer
# deps for XTTS
spacy[ja]>=3
cutlet
ffmpeg-python