#MiaoBi
peft

#AnyText
pillow
numpy
torch
torchvision
opencv-python
transformers
accelerate
einops
huggingface_hub
pytorch_lightning
ujson

#Audio
torchaudio
einops
einops-exts
soundfile
aeiou
transformers
alias-free-torch
ema-pytorch
encodec
x-transformers
descript-audiotools
descript-audio-codec
k-diffusion
setuptools==69.5.0