#MiaoBi
peft

#AnyText
pillow
numpy
torch
torchvision
opencv-python
transformers
accelerate
einops
huggingface_hub
pytorch_lightning
ujson
tensorflow #translator essensial
subword_nmt #translator essensial
modelscope #translator essensial

#Audio
##stable-audio-open
torchaudio
einops
einops-exts
soundfile
aeiou
transformers
alias-free-torch
ema-pytorch
encodec
x-transformers
descript-audiotools
descript-audio-codec
k-diffusion
setuptools==69.5.0

##ChatTTS
omegaconf
torch
tqdm
einops
vector_quantize_pytorch
transformers
vocos
IPython

##facebook--musicgen---audiocraft
#windows ffmpeg env
av
einops
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
num2words
numpy
sentencepiece
spacy>=3.6.1
torch
torchaudio
huggingface_hub
tqdm
transformers>=4.31.0  # need Encodec there.
xformers
demucs
librosa
gradio
torchmetrics
encodec
protobuf
torchvision
torchtext

#file changed
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\metrics\fad.py--14-15
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\builders.py--14-63-64-203-204
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\unet.py--17
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\loaders.py --138-65
#D:\AI\ComfyUI_windows_portable\ComfyUI\custom_nodes\ComfyUI-UL\Audio\music_gen_audiocraft\models\encodec.py --115

#OpenVoiceV2
librosa
faster-whisper
pydub
wavmark
numpy
eng_to_ipa
inflect
unidecode
whisper-timestamped
openai
python-dotenv
pypinyin
cn2an
jieba
gradio
langid
